.bottom
  left: 0;
  right: 0;
  margin:0 auto;
  position fixed
  bottom 0
  z-index 13
  width 100%
  max-width 800px
  min-height 43px
  font-size 1.8px
  color black
  text-align center
  box-shadow 0 1px 0 rgba(0, 0, 0, .1), 0 1px 2px rgba(0, 0, 0, .1)
  transition all .3s ease

  .item
    display inline-block
    width auto
    position relative
    text-align center
    font-weight 400
    top 1%
    bottom 1%
    .bottomColorFont
      color black
  .active
      display inline-block
      width auto
      position relative
      text-align center
      font-weight 400
      top 1%
      bottom 1%
      .bottomColorFont
        color rgb(45, 195, 228)
  .hot-item
    /* display inline-block
    width auto
    position relative
    text-align center
    font-weight 400
    top 1%
    bottom 1% */
    margin-right 5%
    .hotImg
      text-align center
      display block
      width 75%
      margin 0 auto 0 auto
    .hot
      font-size 15px
      // color black

  .live-item
    /* display inline-block
    width auto
    position relative
    text-align center
    font-weight 400
    top 1%
    bottom 1% */
    margin-right 5%
    .liveImg
      text-align center
      display block
      width 75%
      margin 0 auto 0 auto
    .live
      font-size 15px
      // color black

  .record-item
    /* display inline-block
    width auto
    position relative
    text-align center
    font-weight 400
    top 1%
    bottom 1% */
    .recordImg
      text-align center
      display block
      width 65%
      margin 0 auto 0 auto
    .record
      color rgb(86, 190, 219)
      font-size 15px
      // color black

  .vod-item
    /* display inline-block
    width auto
    position relative
    text-align center
    font-weight 400
    top 1%
    bottom 1% */
    margin-left 5%
    .vodImg
      text-align center
      display block
      width 75%
      margin 0 auto 0 auto
    .vod
      font-size 15px
      // color black
  .my-item
    /* display inline-block
    width auto
    position relative
    text-align center
    font-weight 400
    top 1%
    bottom 1% */
    margin-left 5%
    .myImg
      text-align center
      display block
      width 75%
      margin 0 auto 0 auto
    .my
      font-size 15px
      // color black

  .bottomBackGround
    position absolute
    background-color white
    width 100%
    bottom 0
    height 75%
//h1
//  position relative
//  font-family "Helvetica Neue", "Helvetica", sans-serif
//  font-size 1rem
//  margin 0
//  padding 0
//  line-height 44px
//  text-align center
//  z-index 2
//  font-weight 300
//  box-shadow inset 0 -1px 0 rgba(255, 255, 255, .25)
