.navWrap
  position relative
  width 100%
  height 40px
  align-items:center;//子元素垂直居中
  display:-webkit-flex;
  .nav
    position relative
    vertical-align middle
    margin auto
    height 50%
    display inline-block
