.livePage
  margin: 0 auto 0 auto;
  max-width: 800px;
  .livePageScroller
    width: 100%
    height: 100%
    max-width 800px
    left 0px
    right: 0px
    margin-left auto
    margin-right auto
    .livePageWrapper
      width 100%
      display flex
      overflow: hidden
      .livePageWrapperCenter
        width 50%
        /* figure
          position relative
          width: 98%
          background: #fefefe;
          border: 2px solid #fcfcfc;
          box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
          margin: 0 0px 5px;
          // padding: 15px;
          // padding-bottom: 10px;
          //transition: opacity .4s ease-in-out;
          display: inline-block;
          column-break-inside: avoid;
          z-index: 11
          v-video
            position: relative
            width: 100%
            height: 100%
            bottom: 0
            z-index: 11
      */
    // border-bottom: 1px solid #ccc;
    // padding-bottom: 15px;
    // margin-bottom: 5px;
  figcaption
    font-size: .9rem;
    color: #444;
    line-height: 1.5;



